* {
    margin: 0;
}

body {
    font-family: "Rubik Storm", system-ui;
    font-weight: 400;
    font-style: normal;
    height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-image: url('img/5_background/desert.jpg');
    background-position: center;
}

h1 {
    margin: 20px 0;
    text-shadow: 3px 2px 4px rgba(0, 0, 0, 0.6);
}

canvas {
    background-color: black;
    display: block;
}

@media only screen and (max-width: 720px) {
    canvas {
        width: 100%;
    }
}

@media only screen and (max-height: 558px) {  
    h1 {
        display: none;
    }
}

@media only screen and (max-height: 480px) {
    canvas {
        height: 100vh;
    }
}