* {
    margin: 0;
    font-family: "Rubik Storm", system-ui;
    font-weight: 400;
    font-style: normal;
}

body {
    height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-image: url('img/5_background/desert.jpg');
    background-position: center;
    background-size: cover;
}

.overlay {
    z-index: 1;
    margin-top: 78px;
    height: 480px;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.overlayTemplate {
    height: 100%;
    width: 100%;
    position: relative;
}

.sound-impress {
    position: absolute;
    top: 5px;
    right: 50%;
    transform: translateX(50%);
    display: flex;
    gap: 8px;
}

.impressum {
    border-radius: 50%;
    background-color: rgba(0, 0, 0, 0.2);
}

.impressum,
.speakerbtn {
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    border-width: 0;
    border-radius: 50%;
    background-color: rgba(0, 0, 0, 0.2);
}

.impressum,
.impressum>a,
.impressum>a>img,
.speakerbtn,
.controlbar>div>button,
.controlbar>div>button>img {
    height: 45px;
    width: 45px;
}

.rotateInfo {
    z-index: 2;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    justify-content: center;
    align-items: center;
    text-align: center;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    height: 100vh;
    background-color: rgb(0, 0, 0);
    text-shadow: 0 0 6px rgba(255, 255, 255, 0.5);
    color: #FFFFFF;
    text-align: center;
    padding: 16px;
    display: none;
}

.speakerbtn>img {
    height: 30px;
    width: 30px;
}

button {
    touch-action: manipulation;
    user-select: none;
}

.main-btns {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 200px;
    transform: translate(-50%, -50%);
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 16px;
}

.main-btns>button {
    cursor: pointer;
    color: #FFFFFF;
    border-width: 0;
    background-color: rgba(0, 0, 255, 0.8);
    border-radius: 6px 12px;
    height: 25px;
    width: 110px;
    text-shadow: 0 0 4px black;
}

.main-btns>button {
    transition: width 0.125s ease-in-out;
}

.home-btn:hover,
.startbtn:hover {
    width: 140px;
    border-radius: 12px 6px;
}

.home-btn:active,
.startbtn:active {
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.25);
}

.controlbar {
    position: absolute;
    bottom: 0;
    height: 60px;
    width: 100%;
    display: none;
    justify-content: space-between;
    align-items: center;
}

.controlbar>div {
    display: flex;
    gap: 16px;
}

.controlbar>div:first-child {
    padding-left: 16px;
}

.controlbar>div:last-child {
    padding-right: 16px;
}

.controlbar>div>button {
    background-color: rgba(0, 0, 0, 0.2);
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    border-width: 0;
    border-radius: 50%;
}

.throwimg {
    transform: rotate(-40deg);
}

h1 {
    margin: 20px 0;
    color: rgb(60, 192, 60);
    text-shadow: 3px 2px 4px rgba(0, 0, 0, 0.6);
}

canvas {
    background-color: black;
    display: block;
}

.infobox {
    display: flex;
    justify-content: space-between;
    width: 720px;
    background-color: rgba(93, 66, 66, 0.25);
}

.infobox>p {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    padding: 8px 16px;
    color: rgb(60, 192, 60);
    text-shadow: 1px 1px 2px #0b0b0b;
}

.d_none {
    display: none;
}

@media (pointer: coarse) {
    .controlbar {
        display: flex;
    }

    .overlayTemplate {
        margin: 0;
        padding: 0;
        height: calc(100% - 10px);
    }

    .overlay {
        margin: 0;
        width: 100%;
        height: 100vh;
    }
}

@media only screen and (orientation: portrait) {
    h1 {
        display: none;
    }
    .rotateInfo {
        display: flex;
        padding: 0;
    }
    .startbtn {
        display: none;
    }
}

@media only screen and (max-width: 720px) {

    canvas,
    .overlay,
    .infobox {
        width: 100%;
    }

    .overlay {
        height: 465px;
    }
}

@media only screen and (max-width: 336px) {
    .infobox>p {
        font-size: 14px;
    }
}

@media only screen and (max-height: 612px) {
    .infobox {
        display: none;
    }
}

@media only screen and (max-height: 558px) {
    h1 {
        display: none;
    }

    .overlay {
        margin: 0;
    }
}

@media only screen and (max-height: 480px) {
    canvas {
        height: 100vh;
    }

    .overlay {
        height: 100%;
    }
}