body {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-image: url('img/5_background/desert.jpg');
    background-position: center;
}

canvas {
    background-color: black;
}