* {
    margin: 0;
    font-family: "Rubik Storm", system-ui;
    font-weight: 400;
    font-style: normal;
}

body {
    height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-image: url('img/5_background/desert.jpg');
    background-position: center;
    background-size: cover;
}

.overlay {
    z-index: 1;
    margin-top: 78px;
    height: 480px;
    width: 720px;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
}

.overlayTemplate {
    height: 100%;
    width: 100%;
    position: relative;
}

.rotateInfo {
    z-index: 2;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: aqua;
    border-radius: 6px 12px;
    padding: 16px;
    display: none;
}

.speakerbtn {
    cursor: pointer;
    position: absolute;
    top: 10px;
    right: 10px;
    height: 30px;
    width: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-width: 0;
    border-radius: 50%;
    background-color: rgba(0, 0, 0, 0.2);
}

.speakerbtn>img {
    height: 20px;
    width: 20px;
}

.startbtn {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 6px 12px;
    cursor: pointer;
    height: 25px;
    width: 110px;
    background-color: rgba(0, 0, 255, 0.8);
    border-width: 0;
    color: #FFFFFF;
    transition: width 0.125s ease-in-out;
}

.startbtn:hover {
    width: 140px;
    border-radius: 12px 6px;
}

.startbtn:active {
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.25);
}

.controlbar {
    position: absolute;
    bottom: 0;
    height: 60px;
    width: 100%;
    display: none;
    justify-content: space-between;
    align-items: center;
}

.controlbar>div {
    display: flex;
    gap: 16px;
}

.controlbar>div:first-child {
    padding-left: 30px;
}

.controlbar>div:last-child {
    padding-right: 30px;
}

.controlbar>div>button {
    background-color: rgba(0, 0, 0, 0.2);
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    border-width: 0;
    width: 30px;
    height: 30px;
    border-radius: 50%;
}

.controlbar>div>button>img {
    height: 30px;
    width: 30px;
}

.throwimg {
    transform: rotate(-40deg);
}

h1 {
    margin: 20px 0;
    text-shadow: 3px 2px 4px rgba(0, 0, 0, 0.6);
}

canvas {
    background-color: black;
    display: block;
}

.infobox {
    display: flex;
    justify-content: space-between;
    width: 720px;
    background-color: rgba(93, 66, 66, 0.25);
}

.infobox>p {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    padding: 8px 16px;
    color: rgb(60, 192, 60);
    text-shadow: 1px 1px 2px #0b0b0b;
}

.d_none {
    display: none;
}
@media only screen and (max-width: 1024px) and (orientation: landscape){ 
    .controlbar {
        display: flex;
    }
}

@media only screen and (max-width: 400px) and (orientation: portrait){ 
    .rotateInfo {
        display: flex;
    }
    .startbtn {
        display: none;
    }
}

@media only screen and (max-width: 720px) {
    canvas,
    .overlay,
    .infobox {
        width: 100%;
    }
    .overlay {
        height: 465px;
    }
}

@media only screen and (max-width: 674px) {
    .overlay {
        height: 450px;
    }
}

@media only screen and (max-width: 652px) {
    .overlay {
        height: 434px;
    }
}

@media only screen and (max-width: 626px) {
    .overlay {
        height: 418px;
    }
}

@media only screen and (max-width: 605px) {
    .overlay {
        height: 403px;
    }
}

@media only screen and (max-width: 580px) {
    .overlay {
        height: 386px;
    }
}

@media only screen and (max-width: 533px) {
    .overlay {
        height: 355px;
    }
}

@media only screen and (max-width: 556px) {
    .overlay {
        height: 371px;
    }
}

@media only screen and (max-width: 532px) {
    .overlay {
        height: 355px;
    }
}

@media only screen and (max-width: 508px) {
    .overlay {
        height: 339px;
    }
}

@media only screen and (max-width: 485px) {
    .overlay {
        height: 323px;
    }
}

@media only screen and (max-width: 462px) {
    .overlay {
        height: 308px;
    }
}

@media only screen and (max-width: 440px) {
    .overlay {
        height: 293px;
    }
}

@media only screen and (max-width: 416px) {
    .overlay {
        height: 277px;
    }
}

@media only screen and (max-width: 336px) {
    .infobox>p {
        font-size: 14px;
    }
}

@media only screen and (max-height: 612px) {
    .infobox {
        display: none;
    }
}

@media only screen and (max-height: 558px) {
    h1 {
        display: none;
    }
    .overlay {
        margin: 0;
    }
}

@media only screen and (max-height: 480px) {
    canvas {
        height: 100vh;
    }
    .overlay {
        height: 100%;
    }
}